.window{
    background-color: white;
    width: 1000px;
    height: 900px;
    border: 1px solid black;
    border-color: black;
    border-radius: 22px;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }