<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>www.goku.lv</title>
  </head>
 <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container">
    <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to our website!</h1>
    <p class="lead">Look at this button! Wow, let's click on it!</p>
    <hr class="my-0">
    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Learn more</a>
  </div>
    </div>
<div class="container"><hr>
    <div class="row">
      <div class="col-sm">
        <strong>Let's look at some random pictures!</strong> from http://lorempixel.com
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae commodi incidunt recusandae, illo consequatur, distinctio animi ducimus id unde ipsam culpa voluptate, quaerat aliquam a illum deleniti maxime error accusantium?
      <img style="-webkit-user-select: none;margin: auto;" src="http://lorempixel.com/300/100/">
      </div>
      <div class="col-sm">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, mollitia ipsa. Nisi aut voluptates officia alias quo reprehenderit nesciunt eligendi sed beatae dolorem, id deserunt enim ad. Obcaecati, voluptatem dolorem.
        <img style="-webkit-user-select: none;margin: auto;" src="http://lorempixel.com/300/100/">
      </div>
      <div class="col-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ducimus odit ipsa maiores harum? Commodi soluta mollitia dolorem tenetur sed. Iure nobis animi facere commodi ipsum rerum inventore suscipit repudiandae.
        <img style="-webkit-user-select: none;margin: auto;" src="http://lorempixel.com/300/100/">
      </div>
    </div>
    <hr><div class="alert alert-success text-center" role="alert">
        Thanks for Visiting!
    </div>
  </div>
</body>
</html>